:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* body{
  background-image: url("https://1.bp.blogspot.com/-e_u7UMz0Gq4/WqmEdXvwqUI/AAAAAAAB0x0/1BNaAbSV120jrqiVubDh6YfkLEB5qjJDQCK4BGAYYCw/s1600/imagenes-paisajes-hermosos-atardecer-reflejos-flores.jpg");
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/402/778/non_2x/sunset-beach-scenery-background-free-vector.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
} */
@media (min-width: 360px){
  body{
    background-image: url("https://tech-squad.ro/assets/img/react-job.jpg");
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: right;
    background-attachment: fixed;
  }
  
}
.flexDiv{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}
.divRoot{
  width: 100%;
}
.containerDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.navContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px auto 0
}
.navContainer a{
  text-align: center;
  width: 100%;
  margin: 0 10px;
}

.ProjectPre{
  border: 2px double #7653f3;
  padding: 10px 20px;
  background-color: #f5f5dcb3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
.EditBTN button{
  height: 45px;
}
.EditBTN svg{
  width: 25px;
  margin-right: 5px;
}
.BtnNewTask{
  height: 45px;
}
.BtnNewTask svg{
  width: 25px;
  margin-right: 5px;
}
.task{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  border: 2px double #7653f3;
  background-color: #f0ffffa1;
  margin-bottom: 20px;
  padding: 8px 20px;
}
.task .btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 155px;
  margin-right: 15px;
}
.BtnCollab{
  height: 45px;
}
.BtnCollab svg{
  width: 25px;
  margin-right: 5px;
}
.CollabMember{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  border: 2px double #7653f3;
  background-color: #f0ffffa1;
  margin-bottom: 20px;
  padding: 8px 20px;
}
.AddForm{
  width: 50%;
  min-width: 350px;
  max-width: 450px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 2px double #7653f3;
  padding: 10px 20px;
}
.AddForm form div {
  margin-bottom: 10px;
}
.sidebar{
  text-align: center;
  margin-bottom: 10px;
}
.editform{
  width: 50%;
  min-width: 350px;
  max-width: 450px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 2px double #7653f3;
  padding: 10px 20px;
}
.editform form div {
  margin-bottom: 10px;
}
.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* height: 55px; */
}
.title h1 {
  text-align: start;
}
p strong {
  margin: 5px 0;
  font-size: 20px;
}
.divTaskCollab{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

a {
  /* font-weight: 500; */
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
  margin: 5px 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
